#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  padding: 8px;
  gap: 16px;
}

.form__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 16px;
  padding: 16px;
}

.table__header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.form__input {
  padding: 6px;
}

.button_add {
  padding: 6px;
  align-self: flex-end;
}

.button_delete {
  width: 24px;
  height: 24px;
  background: center / contain url("./images/delete-svgrepo-com.svg") no-repeat;
}